body {
	background: #ddd;
	color: #222;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #ddd;
	}

	a:any-link {
		filter: invert(0.8) hue-rotate(180deg);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: #222;
	}
}

body {
	padding: 1em;
}

label {
	display: block;
}

#hello img {
	max-width: 640px;
}

#hello video {
	max-width: 640px;
}

canvas {
	background-color: darkmagenta;
	background-image:
		linear-gradient(45deg, black 25%, transparent 25%),
		linear-gradient(-45deg, black 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, black 75%),
		linear-gradient(-45deg, transparent 75%, black 75%);
	background-size: 2em 2em;
	background-position:
		0 0,
		0 1em,
		1em -1em,
		-1em 0;
}

canvas:fullscreen {
	background-image: none;
	background-color: black;
}

#tiltDemo td {
	white-space: pre;
	text-align: right;
	font-family: monospace;
}

marquee {
	color: red;
}
