@media (prefers-color-scheme: dark) {
    body {
        padding: 1em;
        background: #222;
        color: #ddd;
    }

    a {
        color: hsl(240, 100%, 53%);
    }

    a:visited {
        color: hsl(271, 68%, 68%);
    }

    #depthCanvas {
        filter: invert(1)
    }
}

@media (prefers-color-scheme: light) {
    body {
        padding: 1em;
        background: #ddd;
        color: #222;
    }

}

label {
    display: block;
}

.canvasBack {
    padding: 0;
    margin: 0;
    width: 640px;
    height: 480px;
}

#plugItIn img {
    float: right;
    width: 50%;
}

.disabled .canvasBack {
    background-color: darkred;
}

.canvasBack {
    background-color: darkmagenta;
    background-image: linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, black 75%),
        linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 2em 2em;
    background-position: 0 0, 0 1em, 1em -1em, -1em 0px;
}

#annoying {
    color: red;
    font-size: 3em;
    max-width: 100%;
}